@(productComment: Form[CreateProductCommentForm], product: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(routes.ProductCommentController.addProductCommentHandle()) {
        @helper.CSRF.formField
        @inputText(productComment("comment"))

        <select name="product" id="product">
        @for(cat <- product) {
            <option value="@cat.id">@cat.name</option>
        }
        </select>

        <div class="buttons">
            <input type="submit" value="Add Product Comment"/>
        </div>
    }
